/*body*/
body{
  background-image: url('background.gif');
  background-repeat: repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*fonts*/
h {
  font-size: 20px;
}

/*border*/
.border {
  background-color: #724e932a;
  border: 2px solid #7a22cc63;
  border-radius: 20px;
  width: 400px;
  height: 600px;
}
/*button*/
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #724e93a0;
    border-radius: 4px;
    border-width: 0;
    box-shadow: #724e934c(70, 17, 185, 0.147) 0 2px 4px,#724e934c(70, 17, 185, 0.3) 0 7px 13px -3px,#724e934c 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Product Sans', sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 80%;
    left: 53%;
    margin-right: -50%;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #724e93 0 0 0 1.5px inset, #724e93(70, 17, 185, 0.4) 0 2px 4px, #724e93(70, 17, 185, 0.3) 0 7px 13px -3px, #724e93 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: #724e93(70, 17, 185, 0.4) 0 4px 8px, #724e93(70, 17, 185, 0.3) 0 7px 13px -3px, #724e93 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #724e93 0 3px 7px inset;
    transform: translateY(2px);
  }

  .button-31 {
    align-items: center;
    appearance: none;
    background-color: #724e93a0;
    border-radius: 4px;
    border-width: 0;
    box-shadow: #724e934c(70, 17, 185, 0.147) 0 2px 4px,#724e934c(70, 17, 185, 0.3) 0 7px 13px -3px,#724e934c 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Product Sans', sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: 80%;
    left: 27%;
    margin-right: -50%;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-31:focus {
    box-shadow: #724e93 0 0 0 1.5px inset, #724e93(70, 17, 185, 0.4) 0 2px 4px, #724e93(70, 17, 185, 0.3) 0 7px 13px -3px, #724e93 0 -3px 0 inset;
  }
  
  .button-31:hover {
    box-shadow: #724e93(70, 17, 185, 0.4) 0 4px 8px, #724e93(70, 17, 185, 0.3) 0 7px 13px -3px, #724e93 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-31:active {
    box-shadow: #724e93 0 3px 7px inset;
    transform: translateY(2px);
  }
 
  .button-32 {
    align-items: center;
    appearance: none;
    background-color: #724e93a0;
    border-radius: 4px;
    border-width: 0;
    box-shadow: #724e934c(70, 17, 185, 0.147) 0 2px 4px,#724e934c(70, 17, 185, 0.3) 0 7px 13px -3px,#724e934c 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Product Sans', sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 90%;
    left: 34%;
    margin-right: -50%;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-32:focus {
    box-shadow: #724e93 0 0 0 1.5px inset, #724e93(70, 17, 185, 0.4) 0 2px 4px, #724e93(70, 17, 185, 0.3) 0 7px 13px -3px, #724e93 0 -3px 0 inset;
  }
  
  .button-32:hover {
    box-shadow: #724e93(70, 17, 185, 0.4) 0 4px 8px, #724e93(70, 17, 185, 0.3) 0 7px 13px -3px, #724e93 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-32:active {
    box-shadow: #724e93 0 3px 7px inset;
    transform: translateY(2px);
  }

/*avatar*/
.avatar-container {
  margin: 0 0.4em 0 0;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}

.avatar {
  width: 10em;
  height: 10em;
  border-radius: 5.6em;
  border: #ffffff solid 2px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*center*/
.center {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.center2 {
  position: absolute;
  top: 53%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.center3 {
  position: absolute;
  top: 76%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.center4 {
  position: absolute;
  top: 82%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*Typing Effect*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Product Sans', sans-serif;
  background-color: #000;
  color: #eee;
}
.container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #ffffff;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}